{{>/layout/main-header}}

<input type="hidden" id="userId" value="{{principal.id}}">

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="d-flex justify-content-center">

                {{#principal}}
                {{#profileImg}}
                <img src="/upload/{{profileImg}}" class="my_profile_rounded_img_btn_lg" id="profile-img-btn_lg">
                {{/profileImg}}
                {{^profileImg}}
                <img src="https://i1.sndcdn.com/avatars-000373392764-zp0p80-t500x500.jpg"
                    class="my_profile_rounded_img_btn_lg" id="profile-img-btn_lg">
                {{/profileImg}}
                {{/principal}}

                <form id="fileForm">
                    <input type="file" class="my_hidden" id="profile-img-input" name="profileImgFile" />
                </form>
            </div>
            <div class="my_error_box my_hidden">

            </div>
            <form>

                <input id="username" class="my_auth_form_box_input" type="text" value="{{principal.username}}" required readonly />
                <input id="password" class="my_auth_form_box_input" type="password" value="{{principal.password}}" maxlength="20"
                    required readonly />
                <input id="same-password" class="my_auth_form_box_input" type="password" value="{{principal.password}}"
                    maxlength="20" required readonly />
                <input class="my_auth_form_box_input" type="email" name="email" value="{{principal.email}}" maxlength="60"
                    required />
                <button id="btn-update" type="submit" class="my_secondary_btn">회원정보수정</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
                <div><a href="/user/password-reset-form">비밀번호 찾기</a></div>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    $("#profile-img-btn_lg").click(() => {
        $("#profile-img-input").click(); // 파일 선택창이 뜬다.
    });
    $("#profile-img-input").change((event) => {
        profileImgUpdate(event);
    }); // 파일을 선택하면!!
    async function profileImgUpdate(event) {
        // image/png 이런식의 파일임.
        let f = event.target.files[0];
        if (!f.type.match("image.*")) {
            alert("이미지를 선택해주세요!");
            return;
        }
        let userId = $("#userId").val();
        let fileForm = $("#fileForm")[0];
        let formData = new FormData(fileForm);
        let response = await fetch(`/s/api/user/${userId}/profile-img`, {
            method: "put",
            body: formData
        });
        if (response.status == 200) {
            imgPreview(event, f);
        } else {
            alert("프로파일 변경에 실패하였습니다");
        }
    }
    function imgPreview(event, f) {
        let reader = new FileReader();

        reader.onload = (event) => {
            //console.log(event.target.result);
            $("#profile-img-btn_lg").attr("src", event.target.result);
            $("#profile-img-btn").attr("src", event.target.result);
        }
        reader.readAsDataURL(f); // 비동기 실행(I/O)
    }


    $("#btn-update").click(() => {
    update();
});


    async function update() {
    let id = $("#userId").val();
    let updateDto = {
        email: $("#email").val(),
    }

    let response = await fetch(`/s/api/user/${userId}`, {
        method: "put",
        body: JSON.stringify(updateDto),
        headers: {
            "Content-Type": "application/json; charset = utf-8"
        }
    });

    let responseParse = await response.json();

    if (responseParse.code == 1) {
        alert("수정 성공");
        location.href = `/s/user/${userId}`;
    } else {
        alert("수정 실패");
    }
}
</script>

{{>/layout/footer}}